.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchby {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

searchby p {
    color: #fff;
}

.button {

}