.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.searchby p {
    color: #fff;
}

.button {

}